/* Definiert eine benutzerdefinierte Schriftart namens "Zabars" */
@font-face {
    font-family: 'Zabars'; /* Name der Schriftart */
    src: url('./fonts/Zabars.ttf') format('truetype'); /* Pfad zur TTF-Datei */
    font-weight: normal; /* Optionales Schriftgewicht */
    font-style: normal;  /* Optionaler Schriftstil */
}

/* Grundlegendes Styling für den Body */
body {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('img/5_background/2ebh_229x_210319.jpg');
    font-family: 'Zabars';
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: 0;
}

/* Canvas-Hintergrund und Rahmen */
canvas {
    background-color: black;
    border: 5px solid rgba(0, 0, 0, 0.651);
    border-radius: 10px;
}

/* Styling des Haupttitels */
h1 {
    font-size: 82px;
    color: rgba(177, 5, 5, 0.925);
    text-shadow: 1px 1px 0 white, -1px 1px 0 white,
                 1px -1px 0 white, -1px -1px 0 white;
}

/* Beschreibungstext (Desktop-Ansicht) */
.description {
    display: flex;
    font-size: 36px;
    color: rgba(177, 5, 5, 0.925);
    text-shadow: 1px 1px 0 white, -1px 1px 0 white,
                 1px -1px 0 white, -1px -1px 0 white;
    gap: 32px;
}

/* Wrapper, der das Canvas und evtl. Overlays zentriert */
.outsideWrapper {
    display: flex;
    justify-content: center;
}

/* Wrapper, der das Canvas und die Start-/End-Bilder enthält */
.insideWrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

/* Grundlegende Einstellung für Bilder, die das Canvas überdecken können */
.coveredImage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

/* Allgemeine Button-Einstellungen (Start-/Restart-Buttons) */
.button {
    position: absolute;
    z-index: 99;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    font-size: 32px;
    font-family: 'Zabars';
    cursor: pointer;
    border-radius: 10px;
    color: white;
    background-color: rgba(177, 5, 5, 0.925);
    text-shadow: 1px 1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0),
                 1px -1px 0 rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0);
}

/* Hover-Effekt für Buttons */
.button:hover {
    background-color: white;
    color: rgba(177, 5, 5, 0.925);
    text-shadow: 1px 1px 0 white, -1px 1px 0 white,
                 1px -1px 0 white, -1px -1px 0 white;
    transition: 0.3s;
    scale: 1.02;
}

/* Separates Styling für den Menübutton (unterscheidet sich nur in der Position) */
#menuButton {
    position: absolute;
    z-index: 99;
    margin-top: 80px;
    width: 200px;
    height: 50px;
    font-size: 32px;
    font-family: 'Zabars';
    cursor: pointer;
    border-radius: 10px;
    color: white;
    background-color: rgba(177, 5, 5, 0.925);
    text-shadow: 1px 1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0),
                 1px -1px 0 rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0);
}

/* Hover-Effekt für Menübutton */
#menuButton:hover {
    background-color: white;
    color: rgba(177, 5, 5, 0.925);
    text-shadow: 1px 1px 0 white, -1px 1px 0 white,
                 1px -1px 0 white, -1px -1px 0 white;
    transition: 0.3s;
    scale: 1.02;
}

/* Sound-Buttons ohne sichtbaren Button-Hintergrund */
.soundButton {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

/* Mobile Sound-Button vorerst ausgeblendet */
.soundButtonMobile {
    display: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

/* Gewinn-Screen mit Rotationseffekt und Größenveränderung */
#winScreen {
    width: 300px;
    height: 300px;
    top: 100px;
    left: 200px;
    animation: rotateAnimation 0.5s ease-in-out forwards;
}

/* Mobile Buttons (Standard ausgeblendet) */
.mobile-buttons {
    display: none;
    bottom: 5px;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Visuelles Styling für die mobilen Buttons */
.mobile-buttons button {
    border: none;
    background-color: rgba(240, 248, 255, 0);
}

/* Gruppierung der linken Buttons (links/rechts) */
.left-action {
    display: flex;
    gap: 16px;
    margin-left: 20px;
}

/* Gruppierung der rechten Buttons (Springen/Werfen) */
.right-action {
    display: flex;
    gap: 4px;
    margin-right: 20px;
}

/* Beschreibungstexte (Mobile), ausgeblendet bis zur Aktivierung */
.descriptionMobile {
    display: none;
    bottom: 0;
    position: absolute;
    z-index: 1200;
    font-size: 24px;
    color: rgba(177, 5, 5, 0.925);
    text-shadow: 1px 1px 0 white, -1px 1px 0 white,
                 1px -1px 0 white, -1px -1px 0 white;
    gap: 32px;
}

/* Hintergrundvideo (zu Demonstrationszwecken teilweise ausgeblendet) */
video {
    background-color: black;
    position: fixed;
    display: none;
    z-index: 999;
    height: 100vh;
    width: 100%;
}

.overlay-video {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 9999;
}

.overlay-video button {
    font-family: 'Zabars';
    font-size: 32px;
    color: white;
    text-shadow: 1px 1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0);
    background-image: url(img/5_background/complete_background.png);
    background-size: cover;
    background-position: center;
    width: 120px; /* Gleiche Breite und Höhe für den Kreis */
    height: 120px;
    display: flex; /* Zentriert den Text */
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none; /* Optional: Entfernt Standardrahmen */
    padding: 0; /* Entfernt zusätzliches Padding */
    cursor: pointer; /* Ändert den Cursor bei Hover */
    animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
}


/* Keyframe-Animation für das Win-Bild (Rotation & Vergrößerung) */
@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(720deg);
        scale: 2;
    }
}

/* Styles für Bildschirme unter 1400px Breite (Mobile Buttons anzeigen) */
@media only screen and (max-width:1400px) {
    .mobile-buttons {
        display: flex;
    }
}

/* Styles für Bildschirme unter 760px Breite */
@media only screen and (max-width: 760px) {
    /* Canvas ohne Rahmen und in voller Breite */
    canvas {
        width: 100%;
        background-color: none;
        border: none;
        border-radius: unset;
    }
    /* Blende Desktop-Beschreibung und Titel aus */
    .description {
        display: none;
    }
    h1 {
        display: none;
    }
}

/* Styles für Bildschirme unter 580px Breite */
@media only screen and (max-width: 580px) {
    /* Zeige das Video an */
    video {
        display: block;
    }
    .overlay-video {
        display: flex;
    }
    
}

/* Styles für Bildschirme unter 580px Höhe */
@media only screen and (max-height: 580px) {
    /* Blende Video aus, zeige mobile Beschreibung */
    .descriptionMobile {
        display: flex;
    }

    video {
        display: none;
    }

     /* Blendet das Overlay in der Querfunktion aus */
    .overlay-video {
        display: none;
    }
    /* Reduziere Button-Größe */
    .button {
        width: 150px;
        height: 40px;
        font-size: 24px;
    }
    #menuButton {
        margin-top: 70px;
        width: 150px;
        height: 40px;
        font-size: 24px;
    }
    /* Canvas passt sich an die Höhe an */
    canvas {
        height: 100vh;
        width: 100%;
        background-color: none;
        border: none;
        border-radius: unset;
    }
    /* Win-Bild verkleinern */
    #winScreen {
        width: 150px;
        height: 150px;
    }
    /* Blende Desktop-Beschreibung aus */
    .description {
        display: none;
    }
    .insideWrapper {
        height: 100vh;
    }
    .outsideWrapper {
        width: 100%;
    }
    h1 {
        display: none;
    }
    .soundButtonMobile {
        display: flex;
    }
}
